black
flake8
isort
bs4
selenium
feedparser
python-dotenv
pandas
numpy
webdriver-manager
fake-useragent
SQLAlchemy
requests
lxml
openpyxl
loguru
pg-bulk-loader
psycopg2-binary
pyvi
py_vncorenlp
seaborn
wordcloud